<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Cases" verbose="1">
    <listeners>
        <listener class-name="DemoNopCommerce1.Reports.Listeners"/>
    </listeners>

    <test name="Verify that user is able to search customers">
        <parameter name="browserName" value="Chrome"></parameter>
        <parameter name="testRunId1" value="TC-1"/>
        <classes>
            <class name="DemoNopCommerce1.Test.UserRegisterTest"/>
        </classes>
    </test>

</suite>